[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymupdf = "*"
pandas = "*"
python-dateutil = "*"
more-itertools = "*"

[dev-packages]

[requires]
python_version = "3.10"
